@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  resize: none;
}

.pagination {
  list-style: none;
  height: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active-page {
  background-color: #247b7b;
  border-radius: 50%;
}

.pagination-item {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.custom-classname {
  color: #ab199f;
}

/* sidebar and main content styles */
.sidebar-container {
  height: 100vh;
  overflow-y: auto;
  flex-shrink: 0;
  width: 250px;
  /* Adjust the width as needed */
}

.main-content {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
}


.custom-tag {
  display: inline-block;
  background-color: #247b7b;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
}

.custom-remove {
  cursor: pointer;
  color: white;
  margin-left: 15px;

}

.custom-tagInput {
  border: none;
  /* Remove border */
}

.custom-tagInputField {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  width: 100%;
  height: 50px;
}

/* Tags in edit mode */


.tagInputClass {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.tagInputFieldClass {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  width: 200px;
  margin-bottom: 10px;

}

.selectedClass {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tagClass {
  background-color: #247b7b;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.removeClass {
  margin-left: 8px;
  cursor: pointer;
  color: #ff6347;
}
